# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
out/

# Mac OS
.DS_Store

# Test project (for local testing only)
test-project/

# Local configs
local.properties 